.home {
  background-image: url("../../img/Home.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  height: 100%;
}

.btnCreate {
}

.filters {
}

.selector {
}

.btnReload {
}

.cards {
}

.loader {
}

.card {
}

.pagination {
}
